<div class="row">
  <!-- <div class="col s10 offset-s1"> -->
    <div class="carousel carousel-slider center" data-indicators="true">
      <% banner_pics.each do |pic| %>
        <%= image_tag "running_pics/#{pic}", class: 'carousel-item' %>
      <% end %>
    </div>
  <!-- </div> -->
</div>
<div class="row">
  <%= link_to 'bleh', "https://www.strava.com/oauth/authorize?client_id=16390&response_type=code&redirect_uri=http://localhost:3000/token_exchange" %>
  <div class="col s4 card">
    <div class="row">
      <% if @athlete %>
      <%= @athlete['firstname'] %> <%= @athlete['lastname'] %><br>
      <%= image_tag @athlete['profile_medium'], class: "profile_small circle" %>
      <% end %>
    </div>
    <% if @friends %>
    <div class="row">
      <h2>Friends:</h2>
      <% @friends.each do |friend| %>
        <ul><%= friend['firstname'] %></ul>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <% if @activities %>
    <% @activities.each do |activity| %>
      <div class="col s6">
        <h5><%= activity['name'] %></h5>
        <span>Start lat-lng: <%= activity['start_latlng'] %></span><br>
        <span>End lat-lng: <%= activity['end_latlng'] %></span><br>
        <span>Distance: <%= activity['distance'] %> meters</span><br>
        <span>Elevation Gain: <%= activity['total_elevation_gain'] %></span><br>
        <span>Type: <%= activity['type'] %></span><br>
        <span>ID: <%= activity['id'] %></span>
      </div>
      <div class="col s6">
        <p>MAP</p>

        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
