<div class="row">
  <div class="carousel carousel-slider center" data-indicators="true">
    <% banner_pics.each do |pic| %>
      <%= image_tag "running_pics/#{pic}", class: 'carousel-item' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12 card">
      <% if @athlete %>
      <%= @athlete['firstname'] %> <%= @athlete['lastname'] %><br>
      <%= image_tag @athlete['profile_medium'], class: "profile_small circle" %>
      <% end %>
    </div>
    <% if @friends %>
    <div class="row">
      <h2>Friends:</h2>
      <% @friends.each do |friend| %>
        <ul><%= friend['firstname'] %></ul>
      <% end %>
    </div>
    <% end %>
  </div>
<div class="row">

<% if @uncategorized_runs %>
  <% @uncategorized_runs.each do |run| %>
  <div class="col s4">
    <div class="card grey lighten-4">
      <div class="card-content center black-text">
        <span class="card-title">Distance: <%= convert_meters_to_miles(run.total_distance, 1) %> miles | Date: <%= run.date %></span>
        <hr>
        <p>Time: <%= convert_seconds(run.total_time, "minutes") %> minutes</p>
        <p>Avg Speed: <%= (convert_seconds(run.total_time, "minutes")/convert_meters_to_miles(run.total_distance, 4)).round(2) %> minutes per mile</p>
        <p>Travel Method: <%= run.travel_method %> </p>
        <% if run.goal %>
        <h5>Race: <%= run.goal.name %></h5>
        <% else %>
          <h5>Assign to a race</h5>
        <% end %>

      </div>
      <div class="card-action center">
        <%= link_to "view", user_run_path(current_user, run) %>

        <%= link_to "edit", edit_user_run_path(current_user, run) %>
        <%= link_to "delete", user_run_path(current_user, run), :data => {confirm: 'Are you sure you want to delete this run?', method: 'delete'} %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
