<!-- <div class="row">
  <div class="carousel" data-indicators="true">
    <% banner_pics.each do |pic| %>
      <%= image_tag "running_pics/#{pic}", class: 'carousel-item' %>
    <% end %>
  </div>
</div> -->
<div class="row">
  <div class="col s12 card">
      <% if @athlete %>
      <%= @athlete['firstname'] %> <%= @athlete['lastname'] %><br>
      <%= image_tag @athlete['profile_medium'], class: "profile_small circle" %>
      <% end %>
    </div>
    <% if @friends %>
    <div class="row">
      <h2>Friends:</h2>
      <% @friends.each do |friend| %>
        <ul><%= friend['firstname'] %></ul>
      <% end %>
    </div>
    <% end %>
  </div>
<div class="row">
  <% if @runs %>
    <%= render 'layouts/_run_card.html.erb' %>
  <% end %>
</div>
