<div class="map-container">
  <div id="map">
  </div>
</div>

<script>
      var map;
      function initMap() {
        var start = {lat: <%= @run.start_latlng[0] %>, lng: <%= @run.start_latlng[1] %>};
        var end = {lat: <%= @run.end_latlng[0] %>, lng: <%= @run.end_latlng[1] %>};


        map = new google.maps.Map(document.getElementById('map'), {
          center: start,
          zoom: 12
        });
        var start_marker = new google.maps.Marker({
          position: start,
          map: map
        });
        var end_marker = new google.maps.Marker({
          position: end,
          map: map
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"
async defer>
</script>
