<% @runs.order(date: :desc).each do |run| %>
    <div class="col s4">
      <div class="card grey lighten-4">
        <div class="card-content center black-text">
          <span class="card-title">Distance: <%= convert_meters_to_miles(run.total_distance, 1) %> miles <br> Date: <%= display_date(run.date) %></span>
          <hr>
          <p>Time: <%= convert_seconds(run.total_time, "minutes") %> minutes</p>
          <p>Avg Speed: <%= (convert_seconds(run.total_time, "minutes")/convert_meters_to_miles(run.total_distance, 4)).round(2) %> minutes per mile</p>
          <p>Travel Method: <%= run.travel_method %> </p>
          <br>
          <div class="run-goal">
            <% if run.goal %>
              <strong><p>Goal: <%= link_to run.goal.name, user_goal_path(@user, run.goal) %></p></strong>
                <div class="progress">
                  <div class="progress-bar" style="width: <%= width =calc_percent(@user, run.goal) %>" id="<%= progress_color(width) %>"></div>
                </div>
            <% elsif run.user.id == current_user.id %>
              <%= render 'runs/selector', run: run %>
            <% else %>
              <p>Not yet assigned to a goal</p>
            <% end %>
          </div>
        </div>
        <div class="card-action center">
          <%= link_to "view", user_run_path(current_user, run) %>
          <% if current_user && current_user.id == @user.id %>
            <%= link_to "edit", edit_user_run_path(current_user, run) %>
            <%= link_to "delete", user_run_path(current_user, run), :data => {confirm: 'Are you sure you want to delete this run?', method: 'delete'} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
