<br>
<%= link_to 'Add a Run', new_user_run_path(current_user), class: 'btn right-align' %>
<div class="row">
    <% @runs.each do |run| %>
      <div class="col s6">
        <div class="card grey lighten-4">
          <div class="card-content center black-text">
            <span class="card-title"><%= current_user.name %>'s race to <%= link_to run.goal.name, user_goal_path(@user.id, run.goal_id) %></span>
            <hr>
            <p>Distance: <%= run.total_distance %> miles </p>
            <p>Time: <%= run.total_time %> minutes</p>
            <p>Avg Speed: <%= (run.total_distance.to_f/(run.total_time.to_f / 60)).round(2) %> mi/hr</p>
            <p>Travel Method: <%= run.travel_method %> </p>
          </div>
          <div class="card-action center">
            <%= link_to "view", user_run_path(current_user, run) %>

            <%= link_to "edit", edit_user_run_path(current_user, run) %>
            <%= link_to "delete", user_run_path(current_user, run), :data => {confirm: 'Are you sure you want to delete this run?', method: 'delete'} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
