<h3>Add a new goal, buddy</h3>
<%= form_for [@user, @goal], remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :start_location %>
  <%= f.text_field :start_location %>

  <%= f.label :end_location %>
  <%= f.text_field :end_location %>

  <%= label_tag :opponents %>
  <%= text_field_tag :opponents %>
  <%= f.submit %>
<% end %>
