<% @goals.order("lower(name)").each do |goal| %>
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="http://lifecdn.dailyburn.com/life/wp-content/uploads/2013/08/Running-Form_1.jpg">
        <span class="card-title black-text"><%= goal.name %></span>
      </div>
      <div class="card-content">
        <p class="">Total Distance: <%= convert_meters_to_miles(goal.total_distance, 1) %> miles</p>
        <p class="">Starting Location: <%= goal.start_location %></p>
        <p class="">Ending Location: <%= goal.end_location %></p>
        <br>
        <p><%= link_to "View Details", user_goal_path(current_user.id, goal.id) %></p>
      </div>
      <div class="card-action">
        <% goal.users.each do |user| %>
        <p><%= link_to user.name, user_runs_path(user.id) %> <i class="material-icons">directions_run</i> &nbsp <span style="font-size: 1.2em;">progress: <%= calc_percent(user, goal) %></span></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
