<% @goals.order(:name).each do |goal| %>
  <div class="col l4 m6 s12">
    <div class="card goal-card">
      <div class="card-content">
        <span class="card-title black-text"><%= goal.name %></span>
        <p class="">Total Distance: <%= convert_meters_to_miles(goal.total_distance, 1) %> miles</p>
        <p class="">Starting Location: <%= goal.start_location %></p>
        <p class="">Ending Location: <%= goal.end_location %></p>
        <br>
        <p><%= link_to "View Details", user_goal_path(current_user.id, goal.id) %> &nbsp <%= link_to "Delete", user_goal_path(current_user.id, goal.id),:data => {:confirm => "Are you sure?", :method => "delete"} %></p>
      </div>
      <div class="card-action">
        <% goal.users.each do |user| %>
        <p><%= link_to user.name, user_runs_path(user.id) %> <i class="material-icons">directions_run</i> &nbsp <span style="font-size: 1.2em;">progress: <%= calc_percent(user, goal) %></span>
        <div class="progress">
          <div class="progress-bar" style="width: <%= width =calc_percent(user, goal) %>" id="<%= progress_color(width) %>"></div>
        </div></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
