<h3 class="center"><%= @user.name %>'s goals</h3>
<div class="row">
  <div class="col m4 s12 right">
    <h6>Filter goals</h6>
    <%= form_tag user_goals_path(current_user), method: 'get', remote: true do %>
    <%= label_tag 'Search Term' %>
    <%= text_field_tag :search_term  %>
    <%= submit_tag 'Search', class: "btn left" %>
    <%= link_to "Show all", user_goals_path(current_user), method: 'get', remote: true, class: 'btn black', id: 'show-all' %>
    <% end %>
  </div>
</div>
<% if @user == current_user %>
  <div class="row">
    <div class="col m4 s12">
      <%= link_to "Add a Goal", new_user_goal_path(@user), class: 'btn' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="goals">
    <%= render 'goal' %>
  </div>
</div>
<%= will_paginate @goals %>
